language: java
jdk: oraclejdk8

install: true

cache:
  directories:
  - $HOME/.m2

script:
  - mvn clean install -Dspring.profiles.active=$SPRING_PROFILE
  - mvn cobertura:cobertura

after_success:
  - bash <(curl -s https://codecov.io/bash)

services:
  - postgresql



